<tr class="row">
    <td class="cell">
        <p>{{contact.name}}</p>
    </td>
    <td class="cell type-col">
        <p>{{(contact.contactType)&&contact.contactType.name}}</p>
    </td>
    <td class="cell phone-col">
        <p>{{contact.phone}}</p>
    </td>
    <td class="cell date-col">
        <p>{{contact.birthDate|dateTranslated:activeLang}}</p>
    </td>
    <td class="cell actions-col">
        <div class="cell-btns">
            <button class="btn btn-gray" [routerLink]="['../contacts/edit',contact.id]">
                {{'edit'|transloco|uppercase}}
            </button>
            <button class="btn btn-red" (click)="onDelete(contact)">
                {{'delete'|transloco|uppercase}}
            </button>
        </div>
    </td>
</tr>