#contact-inputs{
    margin: 5px 0 5px 0;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
#contact-inputs>div{
    flex-grow: 1;
}
#contact-inputs>div.date-container{
    width: 90px;
}
#contact-inputs>div>div{
    margin:2px
}
#contact-inputs input,
#contact-inputs select
{
    padding: 10px 0 10px 30px;
    width: 100%;
}
#contact-inputs input[type=date]
{
    padding: 9px 0 9px 30px;
}
#contact-inputs .material-icons{
    position: absolute;
    padding-top: 9px;
    padding-left: 2px;
    color: gray;
}
.calendar-icon{ 
    position: absolute;
    width: 24px;
    height: 24px; 
    left: 0; 
    margin-left: 2px;
    top: 0;
    margin-top: 9px;
    background: url('/dist/assets/images/calendar.png') no-repeat;
}

#search-contact /deep/ .mat-spinner circle {
    stroke: blue;
}
#search-contact{
    display: flex;
}

@media (max-width:480px) {
    #contact-inputs{
        flex-direction: column;
    }

    #contact-inputs>*{
        padding: 5px 0 5px 0;
        margin: 5px 0 5px 0;
    }

    #contact-inputs>div.date-container{
        width: 100%;
    }
}