.page-header{
    margin-bottom: 5px; 
    background-color: white;
}
.container{
    display: grid;
    grid-template-columns: fit-content(300px) 1fr fit-content(300px);
}
.ph-title{
    color:red;
    font-size:18px;
    margin: auto;
    padding: 0 2px 0 2px;
}
.ph-description{
    padding-left: 10px;
}
.ph-btn{
}
@media (max-width:480px) {
    .page-header{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .ph-title{
        margin: 0;
    }
    .ph-btn
    {
        display: none;
    }
    .ph-description{
        display: none;
    }
}